<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="submit"],
    label[for="status"] {
        margin-top: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"] {
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="submit"] {
        padding: 8px 12px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>


<div>
    <h1>Formulario de Producto</h1>

    <form action="/api/products" method="POST">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required />
        </div>

        <div>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required />
        </div>

        <div>
            <label for="code">Código:</label>
            <input type="text" id="code" name="code" required />
        </div>

        <div>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" required />
        </div>

        <div>
            <label for="status">Estado:</label>
            <input type="checkbox" id="status" name="status" checked />
            <label c for="status">Disponible</label>
        </div>

        <div>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required />
        </div>

        <div>
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required />
        </div>

        <div>
            <label for="thumbnail">Miniaturas:</label>
            <input type="file" id="thumbnail" name="thumbnail[]" multiple />
            <label for="thumbnail">Seleccionar archivos</label>
        </div>

        <input type="submit" value="Enviar" />
    </form>
</div>

<h1>Lista de productos</h1>
<table>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Código</th>
    <th>Precio</th>
    <th>Estado</th>
    <th>Stock</th>
    <th>Categoria</th>
    <th>Miniaturas</th>

    {{#each response}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.code}}</td>
        <td>{{this.price}}</td>
        <td>{{this.status}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
        <td>{{this.thumbnail}}</td>
    </tr>
    {{/each}}

</table>