<div>
    <h1>Lista de productos en tiempo real</h1>
    <ul>
        {{#each products}}
        <li>
            <p>Producto ID:{{this.id}}</p>
            <p>Título: {{this.title}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Código: {{this.code}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Estado: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Miniaturas: {{this.thumbnail}}</p>
            <hr>
        </li>
        {{/each}}
    </ul>
</div>